window.APP_CONFIG = {
  BACKEND_URL: '${REACT_APP_BACKEND_URL}',
  API_VERSION: '${REACT_APP_API_VERSION}',
  KEYCLOAK_URL: '${REACT_APP_KEYCLOAK_URL}',
  KEYCLOAK_REALM: '${REACT_APP_KEYCLOAK_REALM}',
  KEYCLOAK_CLIENT_ID: '${REACT_APP_KEYCLOAK_CLIENT_ID}',
  KEYCLOAK_REDIRECT_URI: '${REACT_APP_KEYCLOAK_REDIRECT_URI}'
};
