# Keycloak provisioning (identity layer)
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=dreamfarm
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=yourpassword
KEYCLOAK_DEMO_CLIENT_ID=dreamfarm-frontend
KEYCLOAK_DEMO_REDIRECT_URIS=http://localhost:3000/*
KEYCLOAK_DEMO_USERS=user1,user2,vipuser
KEYCLOAK_VIP_ROLE=vip
